name: Bygg og deploy til prod og dev

on:
  push:
    branches:
      - 'main'
    paths:
      - 'src/**'
      - '.nais/prod.yaml'
      - '.nais/dev.yaml'
      - 'webpack/**'
      - '.dockerignore'
      - '.npmrc'
      - '.nvmrc'
      - 'Dockerfile'
      - 'package.json'
      - 'tsconfig.json'
      - 'yarn.lock'

jobs:
  playwright:
    name: Tester app med Playwright
    uses: navikt/tilleggsstonader/.github/workflows/run-playwright.yml@main
    secrets: inherit
    with:
      node-version: "20"
  build_and_deploy:
    name: "Bygger app og deployer til prod og dev"
    needs: playwright
    uses: navikt/tilleggsstonader/.github/workflows/ts-build-and-deploy-prod-and-dev.yml@main
    secrets: inherit
    permissions:
      id-token: write  # Trengs for deploy til GCP
    with:
      prod-cluster: 'prod-gcp'
      prod-manifest: '.nais/prod.yaml'
      dev-cluster: 'dev-gcp'
      dev-manifest: '.nais/dev.yaml'
      node-version: "20"